<nav class="toc">
  <h1>Table of Contents</h1>
  <ul>
    <li {% if page.permalink == "/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/">Introduction to WAG 3.0</a></li>
    <li {% if page.permalink == "/getting_started/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/getting_started/">Getting Started</a></li>
    <li {% if page.permalink == "/grids_and_responsive_design/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/grids_and_responsive_design/">Grids and Responsive Design</a></li>
    <li {% if page.permalink == "/typography/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/typography/">Typography</a></li>
    <li {% if page.permalink == "/tables/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/tables/">Tables</a></li>
    <li {% if page.permalink == "/colors/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/colors/">Colors</a></li>
    <li {% if page.permalink == "/buttons/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/buttons/">Buttons</a></li>
    <li {% if page.permalink == "/forms/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/forms/">Forms</a></li>
    <li {% if page.permalink == "/messages/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/messages/">Messages</a></li>
    <li {% if page.permalink == "/pagination/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/pagination/">Pagination</a></li>
    <li {% if page.permalink == "/boxes/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/boxes/">Boxes</a></li>
    <li {% if page.permalink == "/examples_dashboard/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/examples_dashboard/">Examples: Dashboard</a></li>
    <li {% if page.permalink == "/examples_employee_directory/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/examples_employee_directory/">Examples: Employee Directory</a></li>
    <li {% if page.permalink == "/examples_news/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/examples_news/">Examples: News</a></li>
    <li {% if page.permalink == "/examples_blog/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/examples_blog/">Examples: Blog</a></li>
  </ul>
</nav>
